<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="hotel1.My.MySettings.hotelmConnectionString" connectionString="server=localhost;user id=root;password=future;persistsecurityinfo=True;database=hotelm"
            providerName="MySql.Data.MySqlClient" />
    </connectionStrings>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>